/*  SCROLLBAR  */

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 8px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #79839185;
  border-radius: 20px;
  /* border: 2px solid #f1f2f3; */
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* //////////////////// */





.selected {
  background: blue;
}

.selected:focus {
  background: red
}