
.topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  /* border-bottom: 3px solid #343848; */
  background-color: #495057;
  /* background-image: url('http://localhost:3000/images/titlebar.png'); */
  background-size: contain;
  /* border-radius: 15px 15px 0 0; */
  border-color: #4b0000;
  -webkit-user-select: none;
  color: #FFFFFF;
}

.topBar.inactive {
  background-color: #262d36 !important;
  color: #727374 !important;
}

.topBar .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topBar .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleBar .toggleButton {
  width: 45px;
  height: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('http://localhost:3000/icons/icon_menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 15px 0 0 0; */
  transition: 0.2s;
  cursor: pointer;
}

.titleBar .toggleButton:hover {
  background-color: #272C36;
}

.titleBar .toggleButton:active {
  background-color: #4F9FEE;
}

.titleBar img {
  margin-left: 10px;
}

.titleBar .title {
  margin-left: 10px;
  width: 100%;
  line-height: 35px;
  margin-top: 5px;
  padding-bottom: 5px;
  /* El siguiente es el que le dá a la barra la
    capacidad de mover la aplicación y otras cosas. */
  -webkit-app-region: drag;
}

.topBar .titleBarBtns {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 35px;
}

.titleBarBtns .topBtn {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarBtns .topBtn:hover {
  background-color: #272C36;
}

.titleBarBtns .topBtn:active {
  background-color: #4F9FEE;
}

.titleBarBtns .minimizeBtn {
  background-image: url('http://localhost:3000/icons/icon_minimize.png');
  background-size: contain;
}

.titleBarBtns .maximizeBtn {
  background-image: url('http://localhost:3000/icons/icon_maximize.png');
  background-size: contain;
}

.titleBarBtns .restoreBtn {
  background-image: url('http://localhost:3000/icons/icon_restore.png');
  background-size: contain;
}

.titleBarBtns .closeBtn {
  /* border-radius: 0 15px 0 0; */
  background-image: url('http://localhost:3000/icons/icon_close.png');
  background-size: contain;
}

.titleBarBtns .closeBtn:hover {
  background-color: #ee4f4f;
}

.titleBarBtns .closeBtn:active {
  background-color: #4b0000;
}
