#newTaskForm {
  display: flex;
  flex-direction: column;
  background-color: #495057;
  margin: 12px;
  padding: 12px;
  padding-top: 0px;
  border-radius: 4px;
}

#newTaskForm input {
  margin-top: 4px;
  padding: 6px 0;
  margin-bottom: 12px;
}

#newTaskForm button {
  padding: 6px;
  border: none;
  text-transform: uppercase;
  margin-top: 4px;
  background-color: #5171ff;
  color: #FFFFFF;
}

#tasksListUI {
  margin: 0;
  padding: 12px;
}

.task {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 18px;
  margin: 0;
  background-color: #495057;
}

.task .checkbox{
  margin-left: 12px;
  margin-right: 18px;
}

.task input{
  margin: auto;
}

.task .text{
  flex: 2;
}














.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  animation: foo 2s ease forwards;
  transform-origin: left;
}

@keyframes foo {
  from {
    opacity: 1;
    background: pink;
    transform: translate(0, 0);
    box-shadow: 0 0 2px 3px pink;
    color: red;
  }

  50% {
    transform: scale(2);
    background: coral;
    box-shadow: 0 0 2px 3px coral;
    color: limegreen;
  }

  to {
    opacity: 0;
    transform: scale(1);
    background: white;
    color: white;
  }
}