#newTaskForm {
  display: flex;
  flex-direction: column;
  background-color: #505050;
  margin: 12px;
  padding: 12px;
  padding-top: 0px;
  border-radius: 4px;
}

#newTaskForm input {
  margin-top: 4px;
  padding: 6px 0;
  margin-bottom: 12px;
}

#newTaskForm button {
  padding: 6px;
  border: none;
  text-transform: uppercase;
  margin-top: 4px;
  background-color: #5171ff;
  color: #FFFFFF;
}

.task {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.task input{
  margin: auto;
}

.task .text{
  flex: 2;
}
